footer{
    width: 100vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    -webkit-box-shadow: 0 -2px 6px -2px #777;
    -moz-box-shadow: 0 -2px 6px -2px #777;
         box-shadow: 0 -2px 6px -2px #777;
}