.custom-button{
    min-height: 3rem;
    width: 100%;
    color:red;
    background-color: white;
    border: 0;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin-top: 1.5rem;
    border-radius: 1rem;
  
    -webkit-box-shadow: 0 10px 6px -9px #777;
   -moz-box-shadow: 0 10px 6px -9px #777;
        box-shadow: 0 10px 6px -9px #777;
  
  
}