.custom-button{
    min-height: 3rem;
    width: 100%;
    color:white;
    background-color: red;
    border: 0;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin-top: 1.5rem;
    border-radius: 1rem;;
  
  
}