section{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:90vw;
    
  
    .button-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
    }
}