.xScroll-container{
   display: grid;
   grid-template-rows: 1fr;
   grid-auto-flow: column;
   grid-auto-columns: 100%;
   margin: 1rem;
   margin-right: 2rem;
   overflow-x: scroll;
   scroll-snap-type:  x mandatory;



}

